*~
*.[oa]
*.lo
*.la
*.tar
*.tar.*
*.html
*.stamp
.dirstamp
.deps
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
doc/html_node
libgnu
libltdl
libtool
m4
reindeer/reindeer-0.0.pc
stamp-h1
