*~
*.[oa]
*.lo
*.la
*.tar
*.tar.*
.deps
.libs
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
libgnu
libltdl
libtool
m4
reindeer/reindeer.pc
stamp-h1
